/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";
/* small utilities and vars */
:root{
  --max-w: 1100px;
}
html,body,#root{
  height:100%;
}
body{
  background: linear-gradient(180deg, #f8fafc 0%, #ffffff 100%);
  color: #0f172a;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

/* small card shadow */
.card {
  @apply bg-white rounded-2xl shadow-sm overflow-hidden;
}

